<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button full icon-left padding color="secondary">
      <span class="button-inner">
      <ion-icon name="search"></ion-icon>
        {{ "Que producto deseas buscar?" | translate }}
      </span>   
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map" class="map" #map showWhen="android,ios"></div>
  <empty-view [text]="'ERROR_CORDOVA_MAPS' | translate" icon="map" showWhen="core">
  </empty-view>
</ion-content>


